:root {
  --font-base: 'Fira Sans Condensed', sans-serif;
  --font-accent: 'Oswald', 'sans-serif';

  --transition-default: 0.3s ease;

  --color-base-0: #fff;
  --color-base-100: #545050;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  padding: 0 30px;
  color: #fff;
  font-family: var(--font-base);
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: max-content;
  padding: 5px 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid var(--color-base-0);
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-base-0);
  cursor: pointer;
  transition: background-color var(--transition-default);
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: var(--color-base-100);
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--color-base-0);
  outline-offset: 1px;
}

.content {
  display: flex;
  align-items: start;
  gap: 30px;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: max-content;
  margin-block-start: 133px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 100%;
  height: 100%;
}

.title {
  font-family: var(--font-accent);
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-base-100);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-block-size: 298px;
  overflow-x: show;
  overflow-y: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  padding: 1px;
  border: 1px solid transparent;
  color: var(--color-base-0);
  text-decoration: none;
  transition: background-color var(--transition-default), border-color var(--transition-default);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: unset  ;
  border-color: var(--color-base-0);
}

.content__card-link_current {
  background-color: var(--color-base-100);
}

.content__card-link_current:active {
  text-decoration: none;
}

.content__video-card {
  display: flex;
}


.content__video-card-title {
  font-family: var(--font-accent);
  text-transform: uppercase;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.content__video-card-description-container {
  inline-size: 100%;
  max-inline-size: 200px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: contain;
  object-position: center
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-inline-size: 711px;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center
}

.more-button {
  margin-block-start: auto;
  inline-size: 100%;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  gap: 38px;
  inline-size: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: unset;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 1px;
}

.search-form__label:has(:focus-visible):not(:has(:active)) {
  outline: 1px solid var(--color-base-0);
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  background-color: transparent;
  border: unset;
  border-top: 1px solid var(--color-base-0);
  border-bottom: 1px solid var(--color-base-0);
  min-inline-size: 225px;
  padding: 1px;
  cursor: text;
  font-family: var(--font-base);
  font-size: 18px;
  letter-spacing: 0;
  color: var(--color-base-0);
  appearance: none;
  outline: unset;
}

.search-form__textfield::placeholder {
  color: var(--color-base-0);
  opacity: .7;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid var(--color-base-0);
}

.fieldset {
  border: unset;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  inline-size: 100%;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  padding: 1px;
  border: 1px solid var(--color-base-0);
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--color-base-0);
  opacity: 0;
  transition: opacity var(--transition-default);
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  margin-block-start: auto;
}